<!DOCTYPE html>
<html lang="en" ng-app="InterestCalculatorApp">
<head>
    <meta charset="UTF-8">
    <title>Interest Calculator</title>

    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <!--From http://openexchangerates.github.io/accounting.js/-->
    <script src="accounting.js"></script>

    <link rel="stylesheet" href="app.css"/>
</head>

<body ng-controller="InterestCalculatorCtrl">
<h1>Interest Calculator</h1>

<form>
    <label>Starting Balance: <input type="number" ng-model="initialBalance" ng-change="updateVals()" /> </label>
    <label>Annual Percentage Rate: <input type="number" ng-model="apr" ng-change="updateVals()"/> </label>
    <label>Payments/Year: <input type="number" ng-model="paymentsPerYear" ng-change="updateVals()"/> </label>
    <label>Years: <input type="number" ng-model="years" ng-change="updateVals()"/> </label>
</form>

<p>Starting Balance: {{formatMoney(initialBalance)}}</p>
<p>Total Payments: {{totalPayments}}</p>
<p>Effective Interest Rate: {{formatFixed(effectiveInterestRate,2)}}%</p>
<p>Monthly payment: {{formatMoney(monthlyPayment)}}</p>
<p>Total Principle: {{formatMoney(totalPrinciple)}}</p>
<p>Total Interest: {{formatMoney(totalInterest)}}</p>
<p>Total Paid: {{formatMoney(totalPrinciple + totalInterest)}}</p>

<table>
    <tr>
        <th>Payment Number</th>
        <th>Starting Principle</th>
        <th>Interest Payment</th>
        <th>Principle Payment</th>
        <th>Ending Principle</th>
    </tr>
    <tr ng-repeat="row in resultTable">
        <td>{{row.num}}</td>
        <td>{{formatMoney(row.startingPrinciple)}}</td>
        <td>{{formatMoney(row.interest)}}</td>
        <td>{{formatMoney(row.principle)}}</td>
        <td>{{formatMoney(row.remainingPrinciple)}}</td>
    </tr>
</table>


</body>
</html>